html, 
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

/* FONT STYLING */

a {
    color: white;
    text-decoration: none;
}

h1, h2, .view-more, .logo-title {
    font-weight: 700;
}

.nav-title {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p, span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
}

.all-recent p {
    color: #505050;
}

.all-recent h2 {
    color: #141414;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 60px;
    align-items: center;
    margin-bottom: 0;
    padding: 1em;
}

ul a {
    color:#090909;
}

/* LAYOUT */

.logo-img {
    width: 1.5em;
}

.logo-title {
    display: flex;
    gap: .5em;
    align-items: center;
}

img {
    width: 100%;
}

.all-recent {
    margin-bottom: 1em;
    display: grid;
}

.all-recent >h2 {
    text-align: center;
}

.hero {
    background: url("/images/blog-image-hero.png") no-repeat center;
    margin-top: auto;
    margin-bottom: 2em;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0 1em;
}

#featured {
    display: block;
    background: none;
    height: auto;
}

#featured  img {
    background-size: center;
}

.featured-blog {
    color: rgb(255, 255, 255);
    width: 100%;
}

.blogs {
    padding: 0 1.25em;
}

.view-more {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2.5em;
    cursor: pointer;
}

footer {
    display: grid;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #202020;
    padding: 2em 0;
}

.blog-info {
    padding: .875em 0;
}

.hidden {
    display: none;
}

.recent-post-title {
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.about-me-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

/* Desktop Layout */
@media only screen and (min-width: 768px) {

    .hidden {
        display: block;
    }

    .all-recent {
        width: 70%;
        margin: auto;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .hero {
        background: url("/images/blog-image-hero.png") center;
    }

    #featured {
        width: 70%;
        margin: 0 auto;
    }

    .featured-blog {
        width: 70%;
    }

    .about-me-header {
        display: flex;
        align-items: center;
        gap: 1em;
    }

}
